.block2__wrapper {
    padding-top: 110px;
}

.block2__content {
    justify-content: space-between;
    border-bottom: 2px solid #ececec;
    padding-bottom: 80px;
}

.block2__item1 {
width: 40%;
}

.block2__item1 {
        h2 {
            text-transform: uppercase;
            margin: 0;
            font-size: 42px;
        }
}

.block2__item1 {
    p {
       
        margin: 50px 0 0;
        
    }
}

.block2__content {
    .block2__item1 {
         .block2__btn {
            display: flex;
            height: 56px;
            align-content: center;
            margin-top: 60px;
            }
        }
}

.block2__item1 {
    a {
            border: 2px solid red;
            padding: 15px 52px;
            color: red;
            font-weight: bold;
            letter-spacing: 2px;
            font-size: 18px;
            border-radius: 5px;
        
    }
}


.block2__item2 {
    flex-wrap: wrap;
    width: 50%;
}