.block3__wrapper {
    padding-top: 110px;
}

.block3__h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 42px;
}

.block3__text {
    text-align: center;
    margin: 0 auto;
    width: 510px;
    padding-top: 30px;
}

.block3__text::after {
    display: block;
    content: '';
    width: 130px;
    border-bottom: 2px solid red;
    margin: 0 auto;
    padding-top: 30px;
}

.block3__menu {
   padding: 80px 0 65px;
}

.block3__menu {
        ul { 
            margin: 0 auto;
            list-style: none;
            display: flex;
            justify-content: center;
           }
}

.block3__menu {
    ul { 
       li {
           padding: 0 30px;
       }
       }
}

.block3__menu {
    ul { 
       li {
           a {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            color: black;
           }
         }
       }
}

.block3__menu {
    ul { 
       li {
           a:hover{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            color: red;
            transition: .5s;
           }
         }
       }
}

.block3__subitems {
    height: 600px;
    flex-wrap: wrap;
}

.block3__subitems div:first-child{
    padding-left: 0;
    padding-right: 10px;
}

.block3__subitems div:nth-child(4){
    padding-left: 10px;  
    padding-right: 0;
}

.block3__subitems div:nth-child(5){
    padding-left: 0;
    padding-right: 10px;
}

.block3__subitems div:last-child{
    padding-left: 10px;
    padding-right: 0;
}